<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Allergen Checker uses the camera to scan ingredient labels for allergens you have saved.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allergen Checker can scan ingredient label photos you choose from your photo library.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
